@import "tailwindcss";
@import "flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */
@source "flyonui/dist/index.js"; /* Require only if you want to use FlyonUI JS component */
@plugin "flyonui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

@plugin "@iconify/tailwind4";

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
